# To use this environment variables remember to copy this file and rename it ".env"

TELEGRAM_BOT_TOKEN = <YOUR_TELEGRAM_BOT_TOKEN_HERE>
PAYPAL_LINK = "https://paypal.me/maskennetwork"

M_COLORS = Blue,Cyan,Green,Yellow,Red,Pink,Purple,Fuchsia,Rose,Lavender,Sky,Mint,Lemon,Sand,Cocoa,Cream

DATABASE_NAME = bot.db
LOGFILE_NAME = bot.log

MARKERS_COLOR_BUTTON = 🎨 Change Markers Color 🎨
CHAPTERS_SEPARATOR_BUTTON = ↔️ Change Chapters Separator ↔️
HELP_BUTTON = ⚙️ Help ⚙️

GLOBAL_TTL = 60
# MB RAM_THRESHOLD
RAM_THRESHOLD = 10

MARKERS_COLOR_PATTERN = ^(Blue|Cyan|Green|Yellow|Red|Pink|Purple|Fuchsia|Rose|Lavender|Sky|Mint|Lemon|Sand|Cocoa|Cream)$

COLOR_TIMEOUT_MESSAGE = "⌛ Sorry, the {ttl} seconds for the 'color' operation are timed out"
SEPARATOR_TIMEOUT_MESSAGE = "⌛ Sorry, the {ttl} seconds for the 'separator' operation are timed out"
ERROR_MESSAGE = "🤕 Sorry, I am not able to do this at the moment, try again later"
RAM_FULL_MESSAGE = "🤯 Sorry, I am very busy at the moment, try again in a few seconds"

START_MESSAGE="🚀 To start using me you do not need to do anything else, I am already ready

📁 To obtain your YouTube chapters to copy and paste in your video description, you simply have to send me your DaVinci Resolve .edl markers file by clicking on the 📎 icon to attach it in this conversation

🎨 If you want to change the DaVinci Resolve markers color used to obtain the chapters, you can click on '{MARKERS_COLOR_BUTTON}' or type '/color'

↔️ If you want to change the chapters separator used in your video description, you can click on '{CHAPTERS_SEPARATOR_BUTTON}' or type '/separator'

The default values are:
▶️ Markers Color: [ Blue ]
▶️ Chapters Separator: [ - ]
⌛ You have {GLOBAL_TTL} to complete a change operation otherwise you have to repeat the process

⚠️ I do not store any info about your files, but only your markers color and chapters separator preferences to help you save time

⚙️ If you want a commands summary you can click on '{HELP_BUTTON}' or type '/help'"
SELECT_MARKERS_COLOR_MESSAGE = "🎨 Please, select your markers color from this DaVinci Resolve list "
INSERT_SEPARATOR_MESSAGE = "↔️ Please, insert the chapters separator you want to use"
EDL_FILE_ERROR_MESSAGE = "🧐 Sorry, your .edl file does not contain your markers color"
UPLOAD_EDL_FILE_MESSAGE = "📁 Please, upload a .edl file"
HELP_MESSAGE="⚙️⚙️⚙️ COMMANDS ⚙️⚙️⚙️

/start - 🚀 Start the bot and see how to use it 🚀
/color - 🎨 Change the markers color 🎨
/separator - ↔️ Change the chapters separator ↔️

/end - 🛑 End the latest active conversation 🛑

/donate - ❤️ Support the project ❤️

---

The default values are:
▶️ Markers Color: [ Blue ]
▶️ Chapters Separator: [ - ]
⌛ You have {GLOBAL_TTL} to complete a change operation otherwise you have to repeat the process

📁 You can attach your DaVinci Resolve .edl file, by clicking on the 📎 icon, to automatically receive the YouTube chapters to copy and paste in your video description"
MARKERS_COLOR_UPDATED_MESSAGE = "🎨 Markers color is now [ {m_color} ]"
CHAPTERS_SEPARATOR_UPDATED_MESSAGE = "↔️ Chapters separator is now [ {c_separator} ]"
END_CONVERSATION_MESSAGE = "👋🏼 I remain at your disposal for next time"
DONATE_MESSAGE = "🥰 Thank you for considering a donation! I really appreciate it!
⬇️ Click the button below to continue"
